.sections {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 224, 61);
}

nav li:hover {
    height: 50px; 
}

nav a:hover{
    color: rgb(46, 186, 204);
}

.container{
    display: flex;
    flex-direction: column;
}

#title{
    align-self: center;
    color: teal;
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 5%;
}

#p1{
    text-align: center;
    line-height: 2;
    margin-top: 5%;
    margin-bottom: 10%;
    font-style:oblique;
}

#p2{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p3{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p4{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p5{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p6{
    text-align: left;
    line-height: 2;
}

#p7{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p8{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p9{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p10{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p11{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p12{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p13{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p14{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p15{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}


#p16{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}


#p17{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}


#p18{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p19{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p20{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#p21{
    text-align: left;
    line-height: 2;
    margin-bottom: 0.5%;
}

#title2{
    text-align: center;
    color: teal;
    font-size: 50px;
    margin-top: 5%;
}

#c1{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
    font-style: italic;
}

#c2{
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
}

#c3{
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
}

#c4{
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
}

#c5{
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
}

#c6{
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
}

#c7{
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
}

img{
    border: 5px solid #45550ae7;
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 10px rgba(25, 151, 42, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */
}

img:hover{
    border: 5px solid #19929be7;
    box-shadow: 10px 10px 10px rgba(50, 15, 146, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */
}

/* Hide the popup container initially */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 9999; /* Ensure it's on top of other content */
    text-align: center;
}

.popup-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(63, 61, 61);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
}

.close-btn {
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup-content img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 5%;
}

#image-info {
    margin-top: 20px;
}
