h1 {
    color: teal;
}

blockquote {
    color: rgb(153, 58, 121);
}

.sections {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 224, 61);
}

nav li:hover {
    height: 50px; 
}

nav a:hover{
    color: rgb(46, 186, 204);
}

.container p1{
    display: flex;
    justify-content: left;
}
  
img{
    float: right;
    margin-top: 25px;
    margin-right: 25px;     
}
